.image-gallery-container,
.video-gallery-container {
    margin: 50px 0;
    padding: 20px;
}

.image-gallery-container p,
.video-gallery-container p {
    width: 90%;
}

.image-card {
    min-height: 300px;
    min-width: 300px;
    max-height: 300px;
    max-width: 400px;
    box-shadow:
        2.8px 2.8px 2.2px rgba(0, 0, 0, 0.02),
        6.7px 6.7px 5.3px rgba(0, 0, 0, 0.028),
        12.5px 12.5px 10px rgba(0, 0, 0, 0.035),
        22.3px 22.3px 17.9px rgba(0, 0, 0, 0.042),
        41.8px 41.8px 33.4px rgba(0, 0, 0, 0.05),
        100px 100px 80px rgba(0, 0, 0, 0.07);
    border: 8px solid var(--clean);
    position: relative;
    overflow: hidden;
    cursor: pointer;
    transition: all 0.2s ease-in;
}

.image-card:hover {
    transform: scale(1.04);
}

.image-card p {
    font-size: 15px;
    padding: 10px;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    color: var(--clean);
}

.image-card p small {
    background-color: var(--theme-dark-transparent);
    display: inline-block;
    padding: 10px;
}

.gallery-image-item {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.image-gallery {
    width: 90%;
    display: flex;
    flex-direction: column;
    height: 950px;
    flex-wrap: wrap;
}